# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# SQLite database
*.db

# Environment variables
.env

# VS Code settings (optional)
.vscode/
.idea/

# One time delete script
one_time_delete.py
# Flask instance folder
instance/                   